/*----------------------------------------------------------------------------
	Made by Bit Squad
------------------------------------------------------------------------------ */

@media screen {	
	/*----------------------------------------------------------------------------
		Yahoo Reset (updated: 17-01-2011)
		Latest: http://developer.yahoo.com/yui/reset/
	----------------------------------------------------------------------------*/
	body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
		margin:0;
		padding:0;
	}
	table {
		border-collapse:collapse;
		border-spacing:0;
	}
	fieldset,img { 
		border:0;
	}
	address,caption,cite,code,dfn,em,strong,th,var {
		font-style:normal;
		font-weight:normal;
	}
	ol,ul {
		list-style:none;
	}
	caption,th {
		text-align:left;
	}
	h1,h2,h3,h4,h5,h6 {
		font-size:100%;
		font-weight:normal;
	}
	q:before,q:after {
		content:'';
	}
	abbr,acronym { border:0;
	}
	/*--[end: CSS Reset]----------------------------------------------------------*/
	
	
	
	
	/*----------------------------------------------------------------------------
		Base CSS
	----------------------------------------------------------------------------*/
	
	a:hover, a:active { outline: none; }
	a, a:active, a:visited { color:#000; text-decoration: underline; }
	a:hover { color:#000; text-decoration: none; }
	
	html { overflow-y: scroll; }
	
	body {
		font:1em Helvetica, Arial, Sans-Serif;
		background: #FFFFFF;
	}
	
	.clear { clear: both; height: 1px; font-size: 1px; border: none; background: transparent; }
	
	#wrapper {
		width: 995px;
		margin: 0 auto 0 auto; 
		text-align: left;
	}
	
	
	/*----------------------------------------------------------------------------
		Font-size
	----------------------------------------------------------------------------*/
	
	#header, #nav, #column-left, #column-center, #column-right, #footer, #tooltip { font-size: 0.75em; }
	
	h1{font-size:2em;}	
	h2{font-size:1.75em;}	
	h3{font-size:1.5em;}
	h4{font-size:1.25em;}
	h5,h6{font-size:1em;}
	
	/*--[end: Font-size]---------------------------------------------------------*/
	
	
	/*----------------------------------------------------------------------------
		Header
	----------------------------------------------------------------------------*/
	#header {
		float: left;
		width: 975px;
		height: 40px;
		margin: 10px 0 5px 0;
	}
	#header h1 {
		float: left;	
	}
	
		/*----------------------------------------------------------------------------
			Site Wide Menu
		----------------------------------------------------------------------------*/
		
		ul#site-wide-nav {
			float: right;
		}
		ul#site-wide-nav li {
			float:left;
			padding: 0 0 0 10px;
		}
		ul#site-wide-nav li a {
			color: #ccc;
		}
		
		/*--[end: Site Wide Menu]---------------------------------------------------------*/
	
	
	/*--[end: Header]---------------------------------------------------------*/
	
	
	/*----------------------------------------------------------------------------
		Navigation
	----------------------------------------------------------------------------*/
	
	#nav {
		float: left;
		width: 995px;
	}
		/* Mainmenu */
		ul.horizontal {
		}
			ul.horizontal li {
				float:left;
				position:relative;
				padding: 10px 20px 10px 0;			
			}
			ul.horizontal li a {
				color: #ff6600;
				text-decoration: none;
			}
			ul.horizontal li a:hover {
				color: #999;
				text-decoration: underline;
			}
			ul.horizontal li a.active {
				color: #900;	
			}
			ul.horizontal li:hover > ul, ul.horizontal li.hover > ul{
				display:block;
			}
		/* Submenu */
		ul.horizontal ul{
			display:none;
			position:absolute;
			top:30px;
			left:0px;
			width:125px;
		}
			ul.horizontal ul li {
				width:125px;
				background:#fff;
			}
			
	/*--[end: Navigation]---------------------------------------------------------*/
	
	
	/*----------------------------------------------------------------------------
		Columns
	----------------------------------------------------------------------------*/
	
	#column-container{
		float: left;
		width: 995px;
		margin: 20px 0 0 0;
	}
		#column-left {
			float: left;
			width: 200px;
		}
		#column-center {
			float: left;
			width: 455px;
			color: #333333;
			margin: 0 40px 0 40px;
		}
		#column-right {
			float: left;
			width: 260px;
		}
		
	/*--[end: Columns]---------------------------------------------------------*/
	
	
	/*----------------------------------------------------------------------------
		Footer
	----------------------------------------------------------------------------*/
	
	#footer {
		float: left;
		width: 995px;
		margin: 30px 0 20px 0;
	}
	
	/*--[end: Footer]---------------------------------------------------------*/
	
	
	/*--[end: Base CSS]---------------------------------------------------------*/
	
	
	/*----------------------------------------------------------------------------
		Basic Content
	----------------------------------------------------------------------------*/
	
	#column-center li {
		margin:0 0 .5em 2em;
		padding:0;
		display:list-item;
		list-style-position:outside;	
	}
	#column-center ul li { list-style: disc; }
	#column-center ul li ul li { list-style: circle; }
	#column-center ol li { list-style:decimal; }
	#column-center ul ul, #column-center ol ol {margin:5px 0 0 0;}
	
	#column-center strong { font-weight: bold;}
	#column-center a { color: #F60;}
	#column-center h1 {margin-bottom:.5em;}	
	#column-center h2 {margin-bottom:.5142em;padding-top:.2em;}	
	#column-center h3 {margin-bottom:.7em;padding-top:.3em;}
	#column-center h4 {margin-bottom:.6em;}
	#column-center h5,#column-center h6 {margin-bottom:.5em;}
	
	#column-center p, #column-center blockquote, #column-center ul, #column-center ol, #column-center dl, #column-center form, #column-center table, #column-center pre{ line-height:inherit; margin:0 0 1.5em 0; }
	
	#column-center table{width:100%;border-collapse:collapse;}
	#column-center th, #column-center td{text-align:left; padding:.5em 1em;line-height:1.5em;}		
	#column-center th{background:#eee;}
	#column-center td{border-bottom:1px solid #eee;}
	#column-center caption{font-style:italic;color:#777;margin:.5em 0;}	
	
	#column-center pre, #column-center code, #column-center samp, #column-center kbd, #column-center var{font:100% mono-space,monospace;}
	#column-center blockquote, #column-center em{ font-style:italic;}
	
	/*--[end: Columns (content)]------------------------------------------------*/
	
	
	/*----------------------------------------------------------------------------
		Attachments 
	----------------------------------------------------------------------------*/
	
	ul#attachments {
		width: inherit;
	}
	
	ul#attachments li {
		list-style: none;
		margin-left: 0;
	}
	
	#attachments li a { padding: 0 0 2px 20px; background-repeat: none; }
	#attachments li.avi a { background: url(../Images/sprite-icons.gif) 0px 0px; }
	#attachments li.bmp a { background: url(../Images/sprite-icons.gif) 0px 0px; }
	#attachments li.doc a { background: url(../Images/sprite-icons.gif) 0px 0px; }
	#attachments li.docx a { background: url(../Images/sprite-icons.gif) 0px 0px; }
	#attachments li.gif a { background: url(../Images/sprite-icons.gif) 0px 0px; }
	#attachments li.jpg a { background: url(../Images/sprite-icons.gif) 0px 0px; }
	#attachments li.mdb a { background: url(../Images/sprite-icons.gif) 0px 0px; }
	#attachments li.mp3 a { background: url(../Images/sprite-icons.gif) 0px 0px; }
	#attachments li.pdf a { background: url(../Images/sprite-icons.gif) 0px 0px; }
	#attachments li.png a { background: url(../Images/sprite-icons.gif) 0px 0px; }
	#attachments li.pps a { background: url(../Images/sprite-icons.gif) 0px 0px; }
	#attachments li.ppt a { background: url(../Images/sprite-icons.gif) 0px 0px; }
	#attachments li.pptx a { background: url(../../Images/icon-spritef.gif) 0px 0px; }
	#attachments li.pub a { background: url(../Images/sprite-icons.gif) 0px 0px; }
	#attachments li.txt a { background: url(../Images/sprite-icons.gif) 0px 0px; }
	#attachments li.wav a { background: url(../Images/sprite-icons.gif) 0px 0px; }
	#attachments li.wmv a { background: url(../Images/sprite-icons.gif) 0px 0px; }
	#attachments li.xls a { background: url(../Images/sprite-icons.gif) 0px 0px; }
	#attachments li.xlsx a { background: url(../Images/sprite-icons.gif) 0px 0px; }
	#attachments li.zip a { background: url(../Images/sprite-icons.gif) 0px 0px; }
	
	/*--[end: Attachments]------------------------------------------------*/
	
	
	
	
	
	
	/*----------------------------------------------------------------------------
		Lists
		Basic Datalist styles
	----------------------------------------------------------------------------*/
	
	#column-center dl {
		float: left;
		width: 100%;
		padding: 0 0 10px 0;
		margin: 0 0 10px 0;
		border-bottom: solid 1px #ccc;
	}
	#column-center dt {
		font-weight: bold;	
	}
	#column-center dd {
		padding: 3px 0 3px 0;	
	}
	#column-center dd  a {
		padding: 0 0 0 15px;
		background: url(../Images/arrow-right.gif) no-repeat 5px 5px;
	}
	
	/*--[end: Lists]------------------------------------------------*/
	
	
	/*----------------------------------------------------------------------------
		Basic Paging 
	----------------------------------------------------------------------------*/
	
	#paging {
		width: inherit;
		text-align: center;
	}
	#paging a {
		margin-right: 10px;
	}
	#paging a:hover {
		color: #000000;
	}
	#paging a.active {
		color: #ccc;
		font-weight: bold;
		text-decoration: none;
	}
	
	/*--[end: Basic Paging]------------------------------------------------*/
	
	
	/*----------------------------------------------------------------------------
		Search Form 
	----------------------------------------------------------------------------*/
	
	#search {
		float: left;
		width: 100%;
		margin: 5px 0 0 0;
	}
	#search input {
		float: left;
		width: 150px;
		height: 16px;
		padding: 2px;
		color: #999;
		border-top: solid 2px #808080;
		border-right: solid 1px #d4d0c8;
		border-bottom: solid 1px #d4d0c8;
		border-left: solid 2px #808080;
	}
	#search a {
		float: left;
		width: 23px;
		height: 23px;
		background: #808080 url(../Images/arrow-right.gif) no-repeat 5px center;
	
	}
	#search a:hover {
		background: #808080 url(../Images/arrow-right.gif) no-repeat 5px center;
	}
	
	/*--[end: Search Form]------------------------------------------------*/
	
	
	/*----------------------------------------------------------------------------
		Forms 
	----------------------------------------------------------------------------*/
	/*
	fieldset.forms{
	
	}
		fieldset.forms legend{
			font-weight:bold;
		}
		fieldset.forms label{
			font-weight:bold;
		}
	
	.forms .text-field{
		display: block;
		margin: 0 0 10px 0;
	}
	
	.forms .text-field label {
		display: block;
	}
	
	.forms .text-field input {
		display: block;
		width: 400px;
	}
	*/
	/* 2 kolommen */
	/*
	fieldset.forms.2-columns div{ 
		width:50%;
		float:left;
	}
	
	.2-columns .text-field{
		float: left;
		width: 100%;
		margin: 0 0 10px 0;
	}
	
	.2-columns .text-field label {
		float: left;
		width: 25%;
	}
	
	.2-columns .text-field input {
		float: left;
		width: 70%;
	}
	*/
	
	/* Feedback messages */
	p.note, p.success, p.error{display:block;}
	p.error{color:#900;}
	p.success{color:#060;}
	p.note{font-weight:bold;}
	
	
	/*--[end: Forms]------------------------------------------------*/
	
	
	/*----------------------------------------------------------------------------
		Styles for Javascript generated content 
	----------------------------------------------------------------------------*/
	
		/*----------------------------------------------------------------------------
			Tooltip
		----------------------------------------------------------------------------*/
		
		#tooltip{ 
			display: none; 
			background: #f1f1f1; 
			-moz-border-radius:6px; 
			border: 1px solid #ccc; 
			text-align: left; 
			width: auto; 
			position: absolute; 
			padding: 4px; 
			z-index: 1000; 
		}
		
		/*--[end: Tooltip]------------------------------------------------*/
		
	/*--[end: Styles for Javascript generated content]------------------------------------------------*/


} /*--[end: @media screen ]------------------------------------------------*/










/*----------------------------------------------------------------------------
	Print Styles
----------------------------------------------------------------------------*/

@media print {
	
	/*----------------------------------------------------------------------------
		Base CSS
	----------------------------------------------------------------------------*/

	html, body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }

	html, body { border: 0px;width: 100%;height: 100%;background: #fff;font: 12pt Verdana, Arial, Helvetica, "Lucida Grande", sans-serif;}
	a, a:visited { color: #000 !important; text-decoration: underline; background: none; }

	#header, #nav, #column-left, #column-right, #paging, #footer {
		display: none !important;
	}
	#wrapper, #column-container, #column-center {
		width: auto;
		margin: 0;
		padding: 0;
		border: 0;
		float: none !important;
		color: #000000;
		background: none;
	}
	
	/* a:after { content: " (" attr(href) ")"; }  Displays url after link */
	/* abbr:after { content: " (" attr(title) ")"; } Displays title after abbr */
	/* pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }    */
	/*	img { page-break-inside: avoid; } */
	/* @page { margin: 0.5cm; } */
	/*	p, h2, h3 { orphans: 3; widows: 3; } Set min text lines before page break and before page start */
	/*	h2, h3{ page-break-after: avoid; } */
	
	/*----------------------------------------------------------------------------
		Basic Content
	----------------------------------------------------------------------------*/
	
	
	#column-center li {
		margin:0 0 .5em 2em;
		padding:0;
		display:list-item;
		list-style-position:outside;	
	}
	#column-center ul li { list-style: disc; }
	#column-center ul li ul li { list-style: circle; }
	#column-center ol li { list-style:decimal; }
	#column-center ul ul, #column-center ol ol {margin:5px 0 0 0;}
	
	#column-center strong { font-weight: bold;}
	#column-center a { color: #F60;}
	#column-center h1 {margin-bottom:.5em;}	
	#column-center h2 {margin-bottom:.5142em;padding-top:.2em;}	
	#column-center h3 {margin-bottom:.7em;padding-top:.3em;}
	#column-center h4 {margin-bottom:.6em;}
	#column-center h5,#column-center h6 {margin-bottom:.5em;}
	
	#column-center p, #column-center blockquote, #column-center ul, #column-center ol, #column-center dl, #column-center form, #column-center table, #column-center pre{ line-height:inherit; margin:0 0 1.5em 0; }
	
	#column-center table{width:100%;border-collapse:collapse;}
	#column-center th, #column-center td{text-align:left;padding:.5em 1em;line-height:1.5em;}		
	#column-center th{background:#eee;}
	#column-center td{border-bottom:1px solid #eee;}
	#column-center caption{text-align:left;font-style:italic;color:#777;margin:.5em 0;}	
	
	#column-center pre, #column-center code, #column-center samp, #column-center kbd, #column-center var{font:100% mono-space,monospace;}
	#column-center blockquote, #column-center em{ font-style:italic;}

	
} /*--[end: @media print ]------------------------------------------------*/

